<!-- <div class="scrollable"> -->
<!-- <a href="" style="text-decoration: none;">
<span class="pull-right"><i class="fa fa-arrow-circle-down fa-3px"></i></span></a> -->
<div class=" huge">
<h1 class=" page-header">
    Welcome to the Online Blood Bank
</h1>

</div>

<br>
<div id="container">
	<div id="slider">
	    <div class="slide active">
	      
	      <img src="../assets/img/slider/img.jpg" alt="">

	    </div>
	    <div class="slide">
	      
	      <img src="../assets/img/slider/img1.jpg" alt="">

	    </div>

	    <div class="slide">
	      
	      <img src="../assets/img/slider/img2.jpg" alt="">

	    </div>

	    <div class="slide">
	      
	      <img src="../assets/img/slider/img3.jpg" alt="">

	    </div>

	    <div class="slide">
	      
	      <img src="../assets/img/slider/img4.jpg" alt="">

	    </div>

	    <div class="slide">
	      
	      <img src="../assets/img/slider/img5.jpg" alt="">

	    </div>
	    <div class="slide">
	      
	      <img src="../assets/img/slider/img6.jpg" alt="">

	    </div>
		<div class="slide">
	      
	      <img src="../assets/img/slider/img7.jpg" alt="">

	    </div>
	    
    </div>    


</div>
<!-- <div class="row">
	<img class="card-img-top" src="../assets/img/home.jpg" alt="Card image cap">
	
</div> -->
<br><br>


<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <img class="card-img-top" src="../assets/img/re.jpg" >
                    </div>
                    <div class="col-xs-9 text-right">
                        
                        <div class="huge">Donation<br> Campaigns</div>
                    </div>
                </div>
            </div>
            <a href="/donation-campaign">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    
    
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <img class="card-img-top" src="../assets/img/req.jpg" >
                    </div>
                    <div class="col-xs-9 text-right">
                        
                        <div class="huge">Emergency<br> Requests</div>
                    </div>
                </div>
            </div>
            <a href="/emergency-request">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    
</div>
<br><br>	

<style type="text/css">
	.scrollable {
	    height: 570px; /* or any value */
	    overflow-y: auto;
	}
</style>
