<div class="page-header">
	<h1>Blood Expirations</h1>
</div>

<div ng-show="showExpire.bloodList.length>0">
		
	<div class="showmore">
		<div class="col-lg-6">
			<div class="input-group">
				<span class="input-group-addon">Results to display</span>
				<input type="text" min="1" class="form-control" ng-model="showExpire.number">
			</div>
		</div>
		<div class="row">
			<button type="button" class="btn btn-primary" ng-click="showExpire.showMore(number)">Apply Filter</button>	

			<button type="button" class="btn btn-primary" ng-click="showExpire.showAll()">Show All</button>	
		</div>
		
	</div>
</div>
<br><br>
<div class="panel panel-red" ng-show="showExpire.bloodList.length>0">
	<div class="panel-heading">
		<strong>Blood Packets</strong>
	</div>


	<table class="table table-bordered table-hover table-striped">
                   
		<thead>
			<tr>
				<!-- <th></th> -->
				<th> Blood Packet Id</th>
				<th> ABO</th>
				<th> Rh</th>
				<th> Date of donation</th>
				<th> Date of expiration</th>
				<!-- <th></th> -->
				<!-- <th></th> -->
			</tr>

		</thead>
		<tbody>
			<tr ng-repeat="blood in showExpire.bloodList | limitTo:showExpire.limit">
				<!-- <td>{{showExpire.bloodList.indexof(blood)+1}}</td> -->
				<td>{{blood._id}}</td>
				<td>{{blood.abo}}</td>
				<td>{{blood.rh}}</td>
				<td>{{blood.donated_date.toString().split('T')[0]}}</td>
				<td>{{blood.expiration_date.toString().split('T')[0]}}</td>
				<!-- <td><button type="button" class="btn btn-primary" ng-click="showExpire.loadReleasePage(blood._id)">Release</button></td> -->
				<!-- <td><button type="button" class="btn btn-primary" ng-click="">Expires</button></td> -->
			</tr>
		</tbody>					
	</table>
	
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<div class="row show-hide-message text-center" ng-show="showExpire.showMoreError">
			<div class="alert alert-danger">{{showExpire.showMoreError}}</div>
		
	
		</div>

	</div>	
</div>

<br>
<div ng-show="showExpire.bloodList.length>0">
	
	<div class="showmore">
		<div class="col-lg-6">
			<div class="input-group">
				<span class="input-group-addon">Results to display</span>
				<input type="text" min="1" class="form-control" ng-model="showExpire.number">
			</div>
		</div>
		<div class="row">
			<button type="button" class="btn btn-primary" ng-click="showExpire.showMore(number)">Apply Filter</button>	

			<button type="button" class="btn btn-primary" ng-click="showExpire.showAll()">Show All</button>	
		</div>
		
	</div>
	<br><br>
</div>