
<div class="container col-sm-8">
	<div class="page-header">
		<h1>Forgot Password</h1>
	</div>
	<form  name="regForm" ng-submit="password.requestPasswordReset(userData,regForm.$valid);" novalidate >
		
		<div ng-class="{'has-success':(regForm.username.$valid && !regForm.username.$pristine),'has-error':(!regForm.username.$valid && !regForm.username.$pristine)||(regForm.$submitted && !regForm.username.$valid)}">
		
			<label>Username: </label>
			<input type="text" name="username" id="username" placeholder="Enter your username" class="form-control" ng-model="password.userData.username" ng-minlength="5" ng-maxlength="25" ng-pattern="/^(?!.*?[\W])(?=.*?[a-zA-Z]|=.*?[A-Z]).{3,16}$/" required ng-disabled="password.disable">
			<p class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.required)||(regForm.$submitted && regForm.username.$error.required)">*Required</p>
			
			<ul class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.pattern) || (!regForm.username.$pristine && regForm.username.$error.minlength) || (!regForm.username.$pristine && regForm.username.$error.maxlength)">
				
				<li>Must not contain any special charactors or spaces</li>
				<li>Must be at least 5 charactors but no more than 25</li>				
			</ul>
			<br>
		</div>

		<button class="btn btn-danger" type="submit" ng-disabled="password.disable">Submit</button>
			


	</form>
	<br>
	<div class="jumbotron text-center" ng-show="password.loading">
		<span class="glyphicon glyphicon-repeat spinner"></span>
		<p>Loading...</p>
	</div>

	<div class="row show-hide-message" ng-show="password.successMsg">
	<br>
		<div class="alert alert-success">{{password.successMsg}}</div>
	</div>
	
	<div class="row show-hide-message" ng-show="password.errorMsg">
	<br>
		<div class="alert alert-danger">{{password.errorMsg}}</div>
	</div>

	<br><br>
	
</div>
