
	<div class="container col-sm-8">
		<div class="page-header">
			<h1>User Login</h1>
		</div>
		<form  name="regForm" ng-submit="main.doLogin(loginData,regForm.$valid);" novalidate >
			
			<div ng-class="{'has-success':(regForm.username.$valid && !regForm.username.$pristine),'has-error':(!regForm.username.$valid && !regForm.username.$pristine)||(regForm.$submitted && !regForm.username.$valid)}">
				<label>Username: </label>
				<input type="text" name="username" id="username" placeholder="Enter username" class="form-control" ng-model="main.loginData.username" required> 
				<p class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.required)||(regForm.$submitted && regForm.username.$error.required)">*Required</p>
				
				<br>
				
			</div>

			<div ng-class="{'has-success':(regForm.password.$valid && !regForm.password.$pristine),'has-error':(!regForm.password.$valid && !regForm.password.$pristine)||(regForm.$submitted && !regForm.password.$valid)}">
				
				<!-- password -->
				<label>Password: </label>
				<input type="password" name="password" id="password" placeholder="Enter password" class="form-control" ng-model="main.loginData.password" required>
				<p class="help-block" ng-show="(!regForm.password.$pristine && regForm.password.$error.required)||(regForm.$submitted && regForm.password.$error.required)">*Required</p>
				<br>
			 
			</div>
			<div class="row">
				<div ng-show="main.errorMsg && main.forgetP" class="col-sm-offset-10">
					<a href="/forgot-password"> Forgot Password</a>
				</div>	
			</div>

			<div class="row">
			
				<div ng-show="main.errorMsg && main.forgetU" class="col-sm-offset-10">
					<a href="/forgot-username"> Forgot Username</a>
				</div>	
			</div>
			
			<div >
			
				<button class="btn btn-danger" type="submit">Login</button>
			
			</div>	
			


		</form>
		<br>
		<div class="jumbotron text-center" ng-show="main.loading">
			<span class="glyphicon glyphicon-repeat spinner"></span>
			<p>Loading...</p>
		</div>
	
		<div class="row show-hide-message" ng-show="main.successMsg">
		<br>
			<div class="alert alert-success">{{main.successMsg}}</div>
		</div>
		
		<div class="row show-hide-message" ng-show="main.errorMsg">
		<br>
			<div class="alert alert-danger">{{main.errorMsg}}</div>
		</div>
		
	</div>
